<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="modal-header" th:fragment="header">
    <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form
        th:object="${userCredential}"
        th:action="@{/credentials/credential}"
        action="#" method="POST"
        th:fragment="form"
        id="credential-form"
>

    <input
            type="hidden"
            name="credentialId"
            id="credential-id"
            th:field="*{credentialId}"
    >

    <div class="mb-3">

        <label for="credential-url" class="form-label">URL</label>

        <input
                type="text"
                name="url"
                class="form-control"
                id="credential-url"
                maxlength="100"
                required
                th:field="*{url}"
        >
    </div>
    <div class="mb-3">

        <label for="credential-username" class="form-label">Username</label>

        <input
                type="text"
                name="username"
                class="form-control"
                id="credential-username"
                maxlength="30"
                required
                th:field="*{username}"
        >
    </div>
    <div class="mb-3">

        <label for="credential-password" class="form-label">Password</label>

        <input
                type="text"
                name="password"
                class="form-control"
                id="credential-password"
                maxlength="30"
                required
                th:field="*{password}"
        >
    </div>
</form>

<div class="modal-footer" th:fragment="footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="$('#credential-form').submit();" id="credentialSubmit">Save changes</button>
</div>

</body>
</html>