body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

#results {
  padding: 5px;
  text-align: justify;

  .item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 5px;
  }
}
